.lead__title {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .lead__title {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media (min-width: 1024px) {
  .lead__title {
    padding-left: 104px;
    padding-right: 104px;
  }
}

@media (min-width: 1280px) {
  .lead__title {
    padding-left: 132px;
    padding-right: 132px;
  }
}
