.cover {
  position: relative;
  margin-top: 66px;
  display: flex;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
}

.cover::after {
  content: '';
  width: 0;
  height: 0;
  padding-bottom: calc(200/320 * 100%);
}

@media (min-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
  }
}
