.cover__title {
  position: relative;
  z-index: 1;
  margin-top: 33px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
