.cover__title {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media (min-width: 768px) {
  .cover__title {
    padding-left: 104px;
    padding-right: 104px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media (min-width: 1024px) {
  .cover__title {
    padding-left: 232px;
    padding-right: 232px;
  }
}

@media (min-width: 1280px) {
  .cover__title {
    padding-left: 312px;
    padding-right: 312px;
  }
}
